
.main-con{
	.bg-casino{
		margin-top: 37rem;
		@include from(m){
			margin-top: 37rem;
		}
		@include from(s){
			margin-top: 15rem;
		}
		>img{
			width: 100%;
				height: 850px;
				position: absolute;
				top: 0;
				left: 0;
				object-fit: cover;

				@include from(m){
					height: 850px;
				}
				@include from(s){
					height: 550px;
				}		
		}}
	.bg-contact{
		>img{
			width: 100%;
				height: 700px;
				position: absolute;
				top: 0;
				left: 0;
				object-fit: cover;
				
		}
	}
	.bg-banca{
		margin-top: 20rem;
		>img{
			position: absolute;
			top: 0;
			height: 700px;
			width: 100%;
			object-fit: cover;
			z-index: -1;
		}
	}
	.bg-caballos{
		margin-top: 25rem;
		>img{
			width: 100%;
				height: 700px;
				position: absolute;
				top: 0;
				left: 0;
				object-fit: cover;
				
		}
	}

	.bg-reglas-deportes{
		
		margin-top: 25rem;
		>img{
				z-index: -1;
				width: 100%;
				height: 700px;
				position: absolute;
				top: 0;
				left: 0;
				object-fit: cover;

				@include from(m){
					height: 850px;
				}
				@include from(s){
					height: 550px;
				}
		}
		
	}

	
	
.main-cont{
		.container-cont{
			background: var(--color-background);
			text-align: center;
			max-width: 100%;
			height: auto;
			box-sizing: border-box;
			border: 1px solid rgba(0, 0, 0, 0.205);
			border-radius: 10px;
			padding: 25px;
			margin: 0 auto 0;
			position: relative;
			z-index: 1;

			@include from(s){
				margin: 0 auto;
			}
			h2{
				color: var(--color-skyLow);
			}

			.sub-cont{
				h2{
					color: white;
				}
				.container-cont{
					color: white;
					background-color: var(--color-skyLow);
				}
				
			}
			.text-cont{
				font-size: 1.1rem;
				
				@include from(m){
					text-align: left;
					}
					@include from(s){
						text-align: center;
					}
			}

			.table-horse{
				margin-top: 2rem;
				h3{
					text-align: left;
				}
				
				table,th {
					border: solid 1px rgba(0, 0, 0, 0.199);
					padding: 10px;
				}
				td{
					border: solid 1px rgba(0, 0, 0, 0.199);
					padding: 10px;
					color: var(--color-grayLow);
				}
				
				table {
					border-collapse:collapse;
					caption-side:bottom;
				}
				
				caption {
					font-size: 16px;
					font-weight: bold;
					padding-top: 5px;
				}

			}
			.font-low{
				color: var(--color-grayLow);
				
			}

			.img-metodosPay{
				width: 99%;
				border-radius: 6px;
			}

			.btn-banca-nav{
				cursor: pointer;
				position: relative;
				list-style: none;
				-webkit-box-flex: 1;
				-ms-flex: auto;
				flex: auto;
				background-color: var(--color-sky);
				margin: 10px 0px;
				padding: 15px 5%;
				color: white;
				border-radius: 5px;
				border: 2px;
				border-color: var(--color-skyLow);
				transition: .5s;
				transform: scale(.9);
			}
			
			.btn-banca-nav:hover{
				transform: scale(1);
				background-color: var(--color-skyLow); /* Green */
				color: white;
			  }
		}
	}

	
}
