.main-register{
	
}

.clearfix {

	
		
}

.container-register{
	background: var(--color-background);
	text-align: center;
	width: 800px;
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.205);
	border-radius: 6px;
	padding: 25px;
	margin: 8% auto 0;
	position: relative;
	z-index: 1;
	border-top: 5px solid var(--color-first);
	
	h1{
		color: var(--color-sky);
	}
	@include from(s){
		margin: 1% auto 0;
	}
	@include from(m){
		margin: 10% auto 0;
	}
	@include from(l){
		margin: 6% auto 0;
	}

	.container-ed{
		
		@include from(s){
			text-align: center;
			width: 100%;
		}
		@include from(l){
			width: 80%;
			text-align: left;
		}

	}
}

.container-register .input_field span{
	font-family: var(--body-font);
}
.container-register .input_field select{
	font-family: var(--body-font);
}
