.sport-rules-container {
	padding: 20px;
	background-color: white;
	box-shadow: cornflowerblue;
	border-radius: 15px;
	margin-bottom: 40px;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.sport-rules__table {
	border-collapse: collapse;
}

.sport-rules__table--td1 {
	width: 20%;
	padding: 20px;
	color: white;
	font-weight: bold;
	border: 1px solid rgb(255, 255, 255);
	background-color: var(--color-skyLow);
}

.sport-rules__table--td2 {
	color: var(--color-sky);
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	border: 1px solid black;
	padding: 20px;
}
