div(class='footer-alig ed-grid m-grid-4 lg-grid-4 row-gap')

	include ../config/utilis/colums_footer/colums
	div(class="footer-imgs")
		div
			img(src="assets/img/logo-mobile.png", alt="logo-mobile", width="100%",height="100%")
			img(src="assets/img/usa18.png", alt="usa", width="100%",height="100%")
section(class="background-footer")
	img(src="/assets/img/footer-bg.jpg", alt="footerBg", width="100%",height="100%")
