div(class="main-con")
	div(class="ed-grid lg-grid-6")
		img(src="/assets/img/banca.jpg", alt="")
	div(class="main-cont")
		div(class="container-cont")
			h1(class="titles") Banca
			h4 Variedad de metodos de pago.
			div(class="ed-grid m-grid-4 s-grid-1 ")
				include ../config/utilis/metodosPagos
