div(class="main-con")
	div(class="bg-banca")
		img(src="/assets/img/banca.jpg", alt="")
	div(class="main-cont ed-grid")
		div(class="container-cont")
			div(class="ed-grid m-grid-4 s-grid-1 ")
				include ../config/utilis/metodosPagos
