div(class="main-con")
	div(class="ed-grid lg-grid-6")
		img(src="/assets/img/caballos.jpg", alt="")
	div(class="main-cont")
		div(class="container-cont")
			h1(class="titles") Información de Caballos
			div(class="sub-cont")
				div(class="container-cont")
					br 
					div(class="text-cont")
						include:markdown-it(html) ../md/caballos.md

