div(class="main-con")
	div(class="bg-caballos")
		img(src="/assets/img/section-caballo.jpg", alt="")
	div(class="main-cont ed-grid")
		div(class="container-cont")
			h1(class="titles") Información de Caballos
			div(class="sub-cont")
				div(class="container-cont")
					br 
					div(class="text-cont")
						include:markdown-it(html) ../md/caballos.md
			div(class="table-horse ed-grid")
				h3 List of Horse Tracks:
				include ../config/utilis/table-horses


