div(class="main-con")
	div(class="ed-grid lg-grid-6")
		img(src="/assets/img/casino.jpg", alt="")
	div(class="main-cont")
		div(class="container-cont")
			h1(class="titles") Juegos de Casino
			div(class="font-low")
				h5 Nuestros juegos de casino de uso instantaneo son rapidos y faciles de <br> jugar, correr en todas las plataformas y no requiere descarga. <br><br> Central de Apuesta le ofrece todos sus juegos favoritos incluyendo <br> Blackjack, Ruleta, Caribbean Poker, Craps y Tragamonedas.
			br 
			div(class="text-cont")
				include:markdown-it(html) ../md/casino.md
