div(class="main-con")
	div(class="ed-grid lg-grid-6")
		img(src="/assets/img/Baloncesto.jpg", alt="")
	div(class="main-cont")
		div(class="container-cont")
			h1 Ponte en contacto con nosotros hoy.
			div(class="text-cont")
				include:markdown-it(html) ../md/contact.md
