<div class="modal">
  <div class="modal-container">
    <div class="modal-left">
	  <img src="assets/img/logo.png" alt="">
      <h1 class="modal-title">Welcome!</h1>
      <p class="modal-desc">Fanny pack hexagon food truck, street art waistcoat kitsch.</p>

	<form name="LoginForm" action="javascript:void(0)" onsubmit="BackEndLogin(this); return false">

      <div class="input-block form-group">
        <label for="username" class="input-label">Usuario</label>
        <input type="text" class="form-control" name="username" required placeholder="User">
      </div>

      <div class="input-block form-group">
        <label for="password" class="input-label">Contraseña</label>
        <input type="password" class="form-control" name="password" placeholder="Password" required >
      </div>

	  <div class="text-center mt-2">
        <small name="msj_error_lg" class="text-danger"></small>
    	</div>

      <div class="modal-buttons form-group">
        <a href="" class="">Forgot your password?</a>
        <button type="submit" name="btn-login" class="input-button">Login</button>
		<span name="msj_loading" id="id-login-loading"></span>
        <span name="msj_login">Ingresar</span>
      </div> 
    <input type="hidden" name="BackEndUrl" value="https://apuestas.centraldeapuesta.com">

	</form>
      <p class="sign-up">Don't have an account? <a href="#">Sign up now</a></p>
    </div>
    <div class="modal-right">
      <img src="assets/img/ufc-ri-modal.png" alt="">
    </div>
    <button class="icon-button close-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
    		<path d="M 25 3 C 12.86158 3 3 12.86158 3 25 C 3 37.13842 12.86158 47 25 47 C 37.13842 47 47 37.13842 47 25 C 47 12.86158 37.13842 3 25 3 z M 25 5 C 36.05754 5 45 13.94246 45 25 C 45 36.05754 36.05754 45 25 45 C 13.94246 45 5 36.05754 5 25 C 5 13.94246 13.94246 5 25 5 z M 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.980469 15.990234 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 z"></path>
		</svg>
    </button>
  </div>
</div>

<script src="https://images.betimages.com/Betslip/js/quick.login.min.js"></script>
