div(class="main-con")
	div(class="bg-reglas-deportes")
		img(src="/assets/img/slider-responsable.jpg", alt="")
	div(class="main-cont ed-grid container-reglas")
		div(class='ed-grid')
			include:markdown-it(html) ../md/privacidad.md
