div(class="container-register")
	h1 Registro
	div(class="ed-container form-register")
		iframe(style="width: 100%; height: 58vh;" src="https://apuestas.centraldeapuesta.com/registro", frameborder="0") 	





