div(class="main-con")
	div(class="bg-reglas-deportes")
		img(src="/assets/img/apuestaenvivo.jpg", alt="")
	div(class="main-cont ed-grid container-reglas")
		h1(class="titles") Reglas de Caballos
		div(class='ed-grid')
			include:markdown-it(html) ../md/apuestas-vivo.md
