*,
*::before,
*::after {
	box-sizing: border-box;
}

::selection {
	color: white;
	background: #00CBFF;
}

strong {
	font-weight 	: 700;
}

body {
	margin         	: var(--header-height) 0 0 0;
	min-height     	: calc(100vh - var(--header-height));
	background 		: var(--body-bg);
	display        	: flex;
	flex-direction 	: column;
	padding-top: 3.5rem;
}

.main-header{}
.main-container{
}

.main-container-slider{
	max-height: 400px;
}
.main-footer {
	background: rgba(255, 0, 0, 0);
	color      		: rgb(143, 143, 143);
	padding    		: 5rem 0;
	font-size  		: fontSize(small);
	margin-top 		: auto;
	
	.background-footer{

		img{
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: -1;
		}

	}
	.ul-footer{
		list-style: none;
	}
	.footer-imgs{
		display: flex;
		margin: auto;
		@include from(m){
			display: block;
		}
		img{
			width: auto;
			height: 2rem;
			margin: auto;
			@include from(m){
				width: 140px;
				height: auto;
			}
		}
	}
}
.footer-alig{
	margin: auto;
	text-align: center;
	.ul-footer{
		padding: 0;
	}
	@include from(m){
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	li{
		margin: 12px;
	}
}
